.sl-brandstyle-dab5e05e-774c-43a1-a7c9-3ebe58e191aa .sl-font-style--title {
font-family: Lora;
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-dab5e05e-774c-43a1-a7c9-3ebe58e191aa .sl-font-style--body {
font-family: Poppins;
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-dab5e05e-774c-43a1-a7c9-3ebe58e191aa .sl-font-style--button {
font-family: Poppins;
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-dab5e05e-774c-43a1-a7c9-3ebe58e191aa .sl-font-style--label {
font-family: Poppins;
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}
.sl-pattern-22154dbc-734c-4bec-95b6-57b5840fb1de {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #4b4f54;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-22154dbc-734c-4bec-95b6-57b5840fb1de .sl-font-style--title { color: #4b4f54; }
.sl-pattern-22154dbc-734c-4bec-95b6-57b5840fb1de .sl-font-style--body { color: #4b4f54; }
.sl-pattern-22154dbc-734c-4bec-95b6-57b5840fb1de .sl-font-style--button { color: #4b4f54; }
.sl-pattern-22154dbc-734c-4bec-95b6-57b5840fb1de .sl-font-style--label { color: #4b4f54; }
.sl-pattern-22154dbc-734c-4bec-95b6-57b5840fb1de .sl-button--brand-style {
color: #4b4f54;
background-color: #ffffff;
}
.sl-pattern-22154dbc-734c-4bec-95b6-57b5840fb1de .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-cb9b5896-177c-4651-9539-8f501fab93fc {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #4b4f54;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-cb9b5896-177c-4651-9539-8f501fab93fc .sl-font-style--title { color: #4b4f54; }
.sl-pattern-cb9b5896-177c-4651-9539-8f501fab93fc .sl-font-style--body { color: #4b4f54; }
.sl-pattern-cb9b5896-177c-4651-9539-8f501fab93fc .sl-font-style--button { color: #4b4f54; }
.sl-pattern-cb9b5896-177c-4651-9539-8f501fab93fc .sl-font-style--label { color: #4b4f54; }
.sl-pattern-cb9b5896-177c-4651-9539-8f501fab93fc .sl-button--brand-style {
color: #4b4f54;
background-color: #ffffff;
}
.sl-pattern-867c1e8e-d8c3-4a03-8d00-2675930f1c9b {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #4b4f54;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-867c1e8e-d8c3-4a03-8d00-2675930f1c9b .sl-font-style--title { color: #4b4f54; }
.sl-pattern-867c1e8e-d8c3-4a03-8d00-2675930f1c9b .sl-font-style--body { color: #4b4f54; }
.sl-pattern-867c1e8e-d8c3-4a03-8d00-2675930f1c9b .sl-font-style--button { color: #4b4f54; }
.sl-pattern-867c1e8e-d8c3-4a03-8d00-2675930f1c9b .sl-font-style--label { color: #4b4f54; }
.sl-pattern-867c1e8e-d8c3-4a03-8d00-2675930f1c9b .sl-button--brand-style {
color: #4b4f54;
background-color: #ffffff;
}
.sl-pattern-e9d5f906-62b7-41c2-81bb-9f19806fbffb {
background-color: #f5f5f5;
border-style: none;
--sl-gv-bg-color: #f5f5f5;
--sl-gv-btn-txt-color: #4b4f54;
--sl-gv-btn-bg-color: #f5f5f5;
}
.sl-pattern-e9d5f906-62b7-41c2-81bb-9f19806fbffb .sl-font-style--title { color: #4b4f54; }
.sl-pattern-e9d5f906-62b7-41c2-81bb-9f19806fbffb .sl-font-style--body { color: #4b4f54; }
.sl-pattern-e9d5f906-62b7-41c2-81bb-9f19806fbffb .sl-font-style--button { color: #4b4f54; }
.sl-pattern-e9d5f906-62b7-41c2-81bb-9f19806fbffb .sl-font-style--label { color: #4b4f54; }
.sl-pattern-e9d5f906-62b7-41c2-81bb-9f19806fbffb .sl-button--brand-style {
color: #4b4f54;
background-color: #f5f5f5;
}
.sl-pattern-a341fef7-5b07-4fbf-a7e3-e2e622bd5f47 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #e5e0be;
--sl-gv-btn-bg-color: #6a813b;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-a341fef7-5b07-4fbf-a7e3-e2e622bd5f47 .sl-font-style--title { color: #4b4f54; }
.sl-pattern-a341fef7-5b07-4fbf-a7e3-e2e622bd5f47 .sl-font-style--body { color: #4b4f54; }
.sl-pattern-a341fef7-5b07-4fbf-a7e3-e2e622bd5f47 .sl-font-style--button { color: #e5e0be; }
.sl-pattern-a341fef7-5b07-4fbf-a7e3-e2e622bd5f47 .sl-font-style--label { color: #4b4f54; }
.sl-pattern-a341fef7-5b07-4fbf-a7e3-e2e622bd5f47 .sl-button--brand-style {
color: #e5e0be;
background-color: #6a813b;
}
.sl-pattern-a341fef7-5b07-4fbf-a7e3-e2e622bd5f47 .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-86d9f733-1d7b-4601-8acf-38af3df04aeb {
background-color: #4b4f54;
border-style: none;
--sl-gv-bg-color: #4b4f54;
--sl-gv-btn-txt-color: #4b4f54;
--sl-gv-btn-bg-color: #4b4f54;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-86d9f733-1d7b-4601-8acf-38af3df04aeb .sl-font-style--title { color: #4b4f54; }
.sl-pattern-86d9f733-1d7b-4601-8acf-38af3df04aeb .sl-font-style--body { color: #4b4f54; }
.sl-pattern-86d9f733-1d7b-4601-8acf-38af3df04aeb .sl-font-style--button { color: #4b4f54; }
.sl-pattern-86d9f733-1d7b-4601-8acf-38af3df04aeb .sl-font-style--label { color: #4b4f54; }
.sl-pattern-86d9f733-1d7b-4601-8acf-38af3df04aeb .sl-button--brand-style {
color: #4b4f54;
background-color: #4b4f54;
}
.sl-pattern-86d9f733-1d7b-4601-8acf-38af3df04aeb .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-8683dfb3-0868-48b3-896c-a47ce4b78f33 {
background-color: #f3ede9;
border-style: none;
--sl-gv-bg-color: #f3ede9;
--sl-gv-btn-txt-color: #4b4f54;
--sl-gv-btn-bg-color: #f3ede9;
}
.sl-pattern-8683dfb3-0868-48b3-896c-a47ce4b78f33 .sl-font-style--title { color: #ffffff; }
.sl-pattern-8683dfb3-0868-48b3-896c-a47ce4b78f33 .sl-font-style--body { color: #4b4f54; }
.sl-pattern-8683dfb3-0868-48b3-896c-a47ce4b78f33 .sl-font-style--button { color: #4b4f54; }
.sl-pattern-8683dfb3-0868-48b3-896c-a47ce4b78f33 .sl-font-style--label { color: #4b4f54; }
.sl-pattern-8683dfb3-0868-48b3-896c-a47ce4b78f33 .sl-button--brand-style {
color: #4b4f54;
background-color: #f3ede9;
}
